body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  display: flex;
  padding-right: 20px;
}
#currentWeather,
#forecast {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.weather-card {
  border: 4px solid black;
  padding: 10px;
  margin-right: 20px;
  border-radius: 25px;
}

.icon {
  width: 60px;
}

h1,
#cityInput,
#searchForm {
  text-align: center;
  border-radius: 25px;
}
